* {
    border: 2px solid red;
    margin: 2px;
}

body {
    font-family: Roboto, Tahoma, Helvetica, sans-serif;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
}

h2 {
    flex: 2;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}